body {
  background-color: black;
}

.title {
  color: white;
  text-align: center;
  margin-top: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

form {
  display: flex;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  border: none;
}

button[type="submit"] {
  padding: 10px;
  font-size: 16px;
  background-color: #7a7a7a;
  color: white;
  border-radius: 0 5px 5px 0;
  border: none;
  cursor: pointer;
}

#remove-gifs {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

#gif-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

#gif-container img {
  max-width: 300px;
  max-height: 300px;
  margin: 10px;
  border-radius: 5px;
}
